@using Basic.Models

@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
@if (TempData["Message"] != null)
{
    <span class="alert alert-info">@TempData["Message"]</span>
}

<table class="table table-bordered">
    <tr>
        <th>Degree</th>
        <th>Institute</th>
        <th>Result</th>
        <th>Year</th>
    </tr>
    @foreach (var degree in ViewData["Degrees"] as Degree[])
    {
        <tr>
            <td>@degree.Title</td>
            <td>@degree.Institute</td>
            <td>@degree.Result</td>
            <td>@degree.Year</td>
        </tr>
    }
</table>
