@model TRP.DTOs.ProgramDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.P_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRPScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRPScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.C_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.C_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
